body {
  background:#313131;
  background-image: url(img/bg.jpg);
  color:black;
  font-family: calibri, sans-serif;
  font-size:20px;
}

li.disabled {
    font-style: italic;
    color: #c0c0c0;
    list-style-image: url('img/no.gif');
}

li.enabled {
    list-style-image: url('img/yes.gif');
}

#main {
    width: 770px;
    height: 170px;
    background-color: rgba(150,150,150,0.6);
    padding: 20px;
    margin: 0 auto;
    margin-bottom:10px;
    position: relative;
}
#second {
    width: 565px;
    height:28px;
    background-color: rgba(150,150,150,0.5);
    float: left;
    padding-left: 15px;
    margin-bottom: 5px;
    position:relative;
}
#second:hover {
    background-color: rgba(150,150,150,1);    
}
.charImage {
    width: 128px;
    height: 128px;
    margin-right: 20px;
    margin-left: 20px;
    float:left;
}
#textHeader {
    width:100%;
    height:40px;
    color: black;
    font-size:25px;
    text-align:center;
}
.save_options {
    width: 128px;
    height: 28px;
    background-color: rgba(150,150,150,0.5);
    margin-left: 20px;
    margin-top: 10px;
    border: 0;
    font-family: calibri, sans-serif;
    font-size:20px;
    transition: top 1s ease-out 0.5s;
    outline:none;
}
.save_options:hover {
    background-color: rgba(255,255,255,1); 
    cursor:pointer;
}
.get_chars {
    width: 128px;
    height: 28px;
    background-color: rgba(150,150,150,0.5);
    margin-left: 20px;
    border: 0;
    font-family: calibri, sans-serif;
    font-size:20px;
    float:right;
    outline:none;
}
.get_chars:hover {
    background-color: rgba(255,255,255,1); 
    cursor:pointer;
}
.input {
    width: auto;
    height:28px;
    border:0;
    float:right;
    background-color: rgba(150,150,150,0.2);
    font-family: calibri, sans-serif;
    font-size:15px;
    outline:none;
   
}
.input:hover {
    background-color: rgba(255,255,255,1);     
}
.input:focus {
    background-color: rgba(255,255,255,1);   
}
.chars {
    height:28px;
    width: 128px;
    height: 28px;
    background-color: rgba(150,150,150,0.5);
    border: 0;
    font-family: calibri, sans-serif;
    font-size:20px;
    outline:none;
    
}
.chars:hover {
    background-color: rgba(255,255,255,1);     
}
.chars:focus {
    background-color: rgba(255,255,255,1);  
}
.delete {
    width:20px;
    height:20px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url(img/delete.png);
}
.delete:hover {
    cursor: pointer;
}
.status {
    margin-left:20px;
}
.accept {
    height:26px;
    width:120px;
    float: right;
    margin-top:10px;
    text-align: center;
    background-color: rgba(150,150,150,0.5);
}
.accept:hover {
    background-color: #00FF00;
    cursor:pointer;
}
.cancel {
    height:26px;
    width:120px;
    float: right;
    margin-top:10px;
    margin-right:21px;
    text-align: center;
    background-color: rgba(150,150,150,0.5);
}
.cancel:hover {
    background-color: #FF0000;
    cursor: pointer;
}